# Pine64 USB JTAG Adapter - FT232HL
# VID:PID 0x0403:0x6014

adapter driver ftdi
ftdi vid_pid 0x0403 0x6014
ftdi channel 0

transport select jtag
adapter speed 100

ftdi layout_init 0x00f8 0x00fb
ftdi layout_signal nSRST -data 0x0020 -oe 0x0020

adapter srst delay 50